<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.example.backend.Users.vo"/>
        <package name="com.example.backend.Account.vo"/>
        <package name="com.example.backend.Habit.vo"/>
        <package name="com.example.backend.HabitCheck.vo"/>
        <package name="com.example.backend.HabitCommunity.vo"/>
        <package name="com.example.backend.Myhabit.vo"/>
        <package name="com.example.backend.PostComment.vo"/>
        <package name="com.example.backend.PostCommunity.vo"/>
        <package name="com.example.backend.Transaction.vo"/>
    </typeAliases>
</configuration>