<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.Myhabit.mapper.MyHabitMapper">

    <insert id="insertMyHabit" parameterType="com.example.backend.Myhabit.vo.MyHabitVO">
        INSERT INTO MyHabit (user_id, habit_id2, state)
        VALUES (#{userId}, #{habitId2}, #{state})
    </insert>

    <select id="selectMyHabitById" parameterType="long" resultType="com.example.backend.Myhabit.vo.MyHabitVO">
        SELECT * FROM MyHabit WHERE my_habit_id = #{myHabitId}
    </select>

    <select id="selectAllMyHabits" resultType="com.example.backend.Myhabit.vo.MyHabitVO">
        SELECT * FROM MyHabit
    </select>

    <update id="updateMyHabit" parameterType="com.example.backend.Myhabit.vo.MyHabitVO">
        UPDATE MyHabit
        SET user_id = #{userId}, habit_id2 = #{habitId2}, state = #{state}
        WHERE my_habit_id = #{myHabitId}
    </update>

    <delete id="deleteMyHabit" parameterType="long">
        DELETE FROM MyHabit WHERE my_habit_id = #{myHabitId}
    </delete>

</mapper>
