<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.PostComment.mapper.PostCommentMapper">

    <select id="selectCommentById" parameterType="Long" resultType="com.example.backend.PostComment.vo.PostCommentVO">
        SELECT * FROM PostComment WHERE comment_id = #{commentId}
    </select>

    <select id="selectAllComments" resultType="com.example.backend.PostComment.vo.PostCommentVO">
        SELECT * FROM PostComment
    </select>

    <!-- 3. 댓글 삽입 -->
    <!-- 인증 커뮤니티 페이지 explore탭 -->
    <insert id="insertComment" parameterType="com.example.backend.PostComment.vo.PostCommentVO">
        INSERT INTO PostComment (post_id, comment_writer, comment_content, created_at)
        VALUES (#{postId}, #{commentWriter}, #{commentContent}, #{createdAt})
    </insert>

    <!-- 5. 댓글 수정 -->
    <!-- 인증 커뮤니티 페이지 explore탭 -->
    <update id="updateComment" parameterType="com.example.backend.PostComment.vo.PostCommentVO">
        UPDATE PostComment
        SET post_id = #{postId}, comment_writer = #{commentWriter}, comment_content = #{commentContent},
            created_at = #{createdAt}
        WHERE comment_id = #{commentId}
    </update>

    <!-- 6. 댓글 삭제 -->
    <!-- 인증 커뮤니티 페이지 explore탭 -->
    <delete id="deleteComment" parameterType="long">
        DELETE FROM PostComment WHERE comment_id = #{commentId}
    </delete>

</mapper>
