<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.Users.mapper.UserMapper">

    <!-- 1. 리워드 증가 -->
    <!--인증 커뮤니티에서 인증 시 Users 테이블의 특정 사용자의 reward 올리기 -->
    <update id="incrementUserReward">
        UPDATE Users
        SET reward = reward + 1
        WHERE user_id = #{userId}
    </update>

    <!-- 신규 사용자 등록 -->
    <insert id="insertUser" parameterType="com.example.backend.Users.vo.UserVO">
        INSERT INTO Users (email, name, nickname, provider, role)
        VALUES (#{email}, #{name}, #{nickname}, #{provider}, #{role})
    </insert>

    <update id="updateUserProfile">
        UPDATE Users
        SET
            nickname = #{nickname},
            avatar = #{avatar}
        WHERE
            user_id = #{userId}
    </update>

    <!-- 기존 사용자 로그인 : 주어진 이메일과 소셜 provider 사용해 기존 사용자 존재 여부 확인 -->
    <select id="findUserByEmailandProvider" parameterType="string" resultType="com.example.backend.Users.vo.UserVO">
        SELECT * FROM Users WHERE email = #{email} and provider = #{provider}
    </select>

    <!-- 특정 사용자 찾기 -->
    <select id="findOneUser" parameterType="String" resultType="com.example.backend.Users.vo.UserVO">
        SELECT * FROM Users WHERE email = #{email}
    </select>

    <!-- 모든 사용자 찾기 -->
    <select id="findAllUsers" resultType="com.example.backend.Users.vo.UserVO">
        SELECT * FROM Users
    </select>

    <!-- 회원 탈퇴  -->
    <delete id="deleteUser" parameterType="String">
        DELETE FROM Users WHERE email = #{email}
    </delete>

    <!-- 아이디로 특정 사용자 찾기 -->
    <select id="findUserById" parameterType="long" resultType="com.example.backend.Users.vo.UserVO">
        SELECT * FROM Users WHERE user_id = #{userId}
    </select>

    <!-- 닉네임 변경 -->
    <update id="updateUser" parameterType="map">
        UPDATE Users
        SET nickname = #{nickname}
        WHERE user_id = #{userId}
    </update>
</mapper>
