<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.Users.mapper.UserMapper">
    <!-- 신규 사용자 등록 -->
    <insert id="insertUser" parameterType="com.example.backend.Users.vo.UserVO">
        INSERT INTO Users (email, name, nickname, provider, role)
        VALUES (#{email}, #{name}, #{nickname}, #{provider}, #{role})
    </insert>

    <!-- 기존 사용자 로그인 : 주어진 이메일 사용해 기존 사용자 존재 여부 확인 -->
    <select id="findUserByEmail" parameterType="long" resultType="com.example.backend.Users.vo.UserVO">
        SELECT * FROM Users WHERE email = #{email}
    </select>

    <!-- 특정 사용자 찾기 -->
    <select id="findOneUsers" parameterType="String" resultType="com.example.backend.Users.vo.UserVO">
        SELECT * FROM Users WHERE email = #{email}
    </select>

    <!-- 모든 사용자 찾기 -->
    <select id="findAllUsers" resultType="com.example.backend.Users.vo.UserVO">
        SELECT * FROM Users
    </select>

    <!-- 닉네임 변경 -->
    <update id="updateUser" parameterType="String" >
        UPDATE Users
        SET nickname = #{nickname}
        WHERE user_id = #{userId}
    </update>

    <!-- 회원 탈퇴  -->
    <delete id="deleteUser" parameterType="String">
        DELETE FROM Users WHERE email = #{email}
    </delete>
</mapper>
